section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none;
        position: relative;
        
        li {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;                        background-color: #fff;
            border-radius: 8px;
            padding: 16px;

            & + li {
                margin-top: 20px;
            }

            p {
                font-size: 14px;
                color: #444;
                margin-top: 8px;
            }

            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #8257e6;
            }
        }
    }
}